/* Declaracion de variable con $ */
$micolorfavorito: navy;

body{
    background: orange;
}


/* Similar a una función */
@mixin padmar($m,$p) {
    margin: $m;
    padding: $p;
    border-radius: $p;
    text-align:center;
  }

h1 {
  color: $micolorfavorito;
  background-color: lightblue;
  @include padmar(50px,10px);
}

p{
    background-color: $micolorfavorito;
    color:white;    
    @include padmar(50px,20px);
}


nav {
  background: lightblue;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li { display: inline-block; padding: 20px;}
  }  
}