body{ 
  background-color: antiquewhite;
}

main{
  width: 100%;
  margin: 0 auto;
}

#botonera{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}

#boton{
display: flex;
text-align: center;
justify-content: center;
margin: 1%;
background-color: gray;
}

#texto{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}